{% load static %}
<!doctype html>
<html lang="en">
  <head> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'homepage/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'homepage/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">

    <title>Activity+</title>
  </head>
  <body>


    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-11 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="index.html" class="text-white mb-0">Activity+</a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class="active"><a href="#" class="nav-link"><span>Home</span></a></li>
                <li><a href="calendar/" class="nav-link"><span>Calendar</span></a></li>
                <li><a href="dashboard/" class="nav-link"><span>Dashboard</span></a></li>
{#                <li><a href="blog/" class="nav-link"><span>Blog</span></a></li>#}
                <li><a href="usersettings/" class="nav-link"><span>Settings</span></a></li>
                <li><a href="accounts/signin/" class="nav-link"><span>Sign In</span></a></li>
              </ul>
            </nav>
          </div>


          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>
    <style>
    img {
     border-radius: 30%;
    }
    </style>
    <div class="hero" style="background-image: url({% static 'homepage/images/hero.jpg' %});"></div>
    <div class="hero" style="background-image: url({% static 'homepage/images/com.jpg' %});">
        <h1 style="background-color:powderblue;
            border-radius: 10px;
            text-align:center;
            padding: 1px;
            border: 1px solid lightgray;
            font-size: 50px;
            margin: 10px;"
            ><span>Welcome to Activity+</span></h1>
        </H2>
        <H3 style="background: lightsteelblue;
            border-radius: 10px;
            text-align:center;
            font-size: 30px;
            padding: 1px;
            border: 1px solid lightgray;
            margin: 10px;">
            We look forward to helping you keep track of your projects,assignments,and exams with our calendar planner.
        </H3>
        <H3 style="background: palevioletred;
            border-radius: 10px;
            text-align:center;
            font-size: 30px;
            padding: 1px;
            border: 1px solid lightgray;
            margin: 10px;">
        With our planner you will be able to create, delete and modify events You will also be able to mark an event as complete.
            </h3>
        <H3 style="background: lightgoldenrodyellow;
            border-radius: 10px;
            text-align:center;
            font-size: 30px;
            padding: 1px;
            border: 1px solid lightgray;
            margin: 10px;">
        Activity+ hopes to be able to help you become a more responsible student and a student that doesn't leave everything until the last minute.
            </h3>
        <H3 style="background: darkseagreen;
            border-radius: 10px;
            text-align:center;
            font-size: 30px;
            padding: 1px;
            border: 1px solid lightgray;
            margin: 10px;">
        You also have the Activity+ mascot cheering you on as you can see below
            </h3>

{#      <h2 style="text-align:center; background: ghostwhite;">Welcome to Activity+</h2>#}
{#      <h5 style="text-align:center;">We look forward to helping you keep track of your projects, assignments,</h5>#}
{#      <h5 style="text-align:center;"> and exams with our calendar/planner.</h5>#}
{#      <h5 style="text-align:center;">With our planner you will be able to</h5>#}
{#      <h5 style="text-align:center;">create, delete and modify events.</h5>#}
{#      <h5 style="text-align:center;">You will also be able to mark an event as complete.</h5>#}
{#      <h5 style="text-align:center;">Activity+ hopes to be able to help you become a more responsible student,</h5>#}
{#      <h5 style="text-align:center;">and a student that doesn;t leave everything until the last minute.</h5>#}
{#      <h5 style="text-align:center;">You also have the Activity+ mascot cheering you on as you can see below.</h5>#}
      <p style="text-align:center;
            style=background: ghostwhite;
            border-radius: 100px;
            padding: 10px;
            margin: 10px;">
          <img src="{%static 'homepage/images/hero_2.gif'%}" ></p>
    </div>
    
    <script src="{% static 'homepage/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'homepage/js/popper.min.js' %}"></script>
    <script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'homepage/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'homepage/js/main.js' %}"></script>
  </body>
</html>